* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
    color: #212121;
}

li {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 100;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.navbar li {
    width: 100%;
}

.nav-link {
    font-size: 0.94rem;
    padding: 20px 20px;
    border-radius: 10px;
    color: #000;
    display: flex;
    width: 100%;
}

.nav-link:hover {
    background: #f2f2f2;
    transition: 0.3s all linear;
}

.active {
    background: #f2f2f2;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
    padding: 10px;

}

.menu-icon:hover {
    background: #e5e5e5;
    border-radius: 50%;
}

.menu-icon div {
    display: block;
    background-color: #000;
    height: 1px;
    width: 18px;
    transition: 0.3s;
}

.you-inc {
    width: 90px;
    height: 20px;
    display: flex;
    padding: 0;
}

.you-inc a {
    display: flex;
}

.you-inc h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #222222;
    padding: 0;
    letter-spacing: -1.5px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: -17px;
    top: -2px;
}

.you-inc img {
    width: 70px;
    height: 55px;
    position: relative;
    top: -17px;
}

/* Search Content*/
.search-content {
    display: flex;
    align-items: center;
}

.search-in {
    background: #f1f1f1;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.search-in:hover {
    transition: 0.3s all linear;
    background-color: #d9d9d9;
}

.search-in .bx {
    font-size: 1.2rem;
}

/* Search Box */
.search-box {
    width: 500px;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: none;
    border-radius: 4rem;
    margin-right: 1rem;
    border: 1px solid #dbdbdb;
}

.inner-search {
    display: flex;
    width: 100%;
}

.search-box .bx {
    font-size: 1.3rem;
    color: #151515;
    cursor: pointer;
}

.search-box .bx:hover {
    color: #000;
    transition: 0.3s all linear;
    transform: scale(1.1);
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.938rem;
}

/* Config Box */
.config-box {
    display: flex;
    align-items: center;
}

#config-bx {
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
}

#config-bx:hover {
    transition: 0.3s all linear;
    background: #ebebeb;
}

.button-box {
    display: flex;
}

.button-box .bx {
    font-size: 1.3rem;
    color: #065fd4;
}

.button-box button {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    color: #065fd4;
}

.button-box button:hover {
    background-color: #def1ff;
}

/* Home CSS */

.suggestion-home {
    padding: 7.4rem 3rem 3rem 6rem;
    display: flex;
}

.home-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
}

.box img {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.box-inf {
    display: flex;
    align-content: center;
}

.box-inf img {
    width: 40px;
    height: 40px;
    border: 2px solid #c8b06d;
    border-radius: 50%;
    margin-right: 10px;
}

.description-suggestion h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.name-box {
    margin-bottom: 3px;
}
.description-suggestion p {
    color: #606060;   
}

.description-suggestion .bx {
    color: #fff;
    font-size: 0.828rem;
    background-color: #606060;
    border-radius: 50%;
    margin-left: 4px;
}
.menu-home{
    display: flex;
    flex-direction: column;
    position: fixed;
}
.nav-home {
    margin-top: 4rem;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    width: 4rem;
}
.nav-home .bx {
    font-size: 1.5rem;
}
.nav-home a {
    display: flex;
    flex-direction: column;
    font-size: 0.628rem;
    align-items: center;
    align-content: center;
}

.inscrip{
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000; 
}